name: CD

on:
  workflow_dispatch:

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Tshopper-web

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v6

      - name: Build and push frontend
        uses: docker/build-push-action@v5
        with:
          context: ./Tshopper-web
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/tshopper-web:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy-backend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: TshopperService

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v6

      - name: Build and push backend
        uses: docker/build-push-action@v5
        with:
          context: ./TshopperService
          file: ./TshopperService/TshopperService/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/tshopper-service:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
